body {
    font-family: Arial, Helvetica, sans-serif, sans-serif;
    margin: 0;
    padding: 40px;
}

.foto-perfil {
    max-width: 250px;
    border-radius: 0;
    border-radius: 50%;
    position: relative;
    box-shadow: -10px 5px 20px rgba(0, 0, 0, 0.4);
    z-index: 1;
}

.profile-card {
    position: relative;
    background-color: #fff;
    max-width: 350px;
    margin: 20px auto;
    padding: 20px;
    border: -1px solid #ccc;
    border-radius: 8px;
    text-align: center;
    font-size: 20px;
    text-shadow: -10px 5px 20px rgba(0, 0, 0, 0.4);
    box-shadow: -10px 5px 20px rgba(0, 0, 0, 0.4);
    overflow: hidden; /* Adiciona overflow: hidden para garantir que o pseudo-elemento não se expanda além do cartão */
}

.profile-card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%; /* Altura da faixa */
    background: linear-gradient(to bottom right, #5767d9, #fa90b3, #32fe40);
    z-index: 0;
}
h1 {
    text-align: center;
    margin-top: 0; /* Remove margem superior */
    margin-bottom: 10px; /* Ajusta a margem inferior */
    color: rgb(2, 2, 2);
    padding: 10px -5px;
    text-shadow: -10px 5px 20px rgba(0, 0, 0, 0.4);
}

.profile-card img {
    width: 200px;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.social-icons {
    margin-top: 20px;
}

.social-icons a {
    display: inline-block;
    margin-right: 20px;
    font-size: 40px;
    color: black;
}

.social-icons a:last-child {
    margin-right: 0;
}

social-icons a:hover {
    color: #0073b1; /* Cor de hover */
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #090b0e;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #505458;
}

table {
    width: 100%;
    margin: 0 ; 
    border-collapse: collapse;
}

td {
    border: none;
    text-align: center;
    padding: 0%;
}